@charset "utf-8";
/*공통 서식*/
    body {
        background-color: #faf3eb;
        color: #766d64;
    }
    header > .container > a {
        color: #766d64;
    }
    header > .container > a:hover {
        color: #222222;
    }
    #top_menu > li >b > a {
        color: #766d64;
    }
    #top_menu > li > b > a:hover {
        color: #222222;
    }
/*헤더, 콘텐츠 박스 높이 변수 설정*/
    :root {
        --mainHeader-height-desktop: 153px;
        --mainHeader-height-tablet: 123px;
        --mainHeader-height-mobile: 93px;

        --subHeader-height-desktop: 146px;
        --subHeader-height-tablet: 116px;
        --subHeader-height-mobile: 86px;

        --bottomBox-height-wide: 210px;
        --bottomBox-height-narrow: 50%;
        --footer-height-narrow: 40%
    }
/*page_1*/
    .main_header {
        background-color: #d2c2b2;
    }
    /*메인 배너*/
        .main_banner {
            background: url(../img/sherlockholmes/gothic_02.JPG) no-repeat center / cover;
        }
        main > div {
            display: flex;
            justify-content: space-around;
            max-width: 1320px;
            height: 100%;
            margin: 0 auto;
        }
        .text_banner_container {
            position: relative;
            width: 60%;
            max-width: 700px;
        }
        .text_banner_container > h1 {
            color: #d2c2b2;
        }
        .text_banner_container > p{
            margin-bottom: 15px;
            font-size: 18px;
            color: #222222;
        }
        button {
            border-radius: 15px;
            padding: 15px;
            background-color: #d2c2b2;
            color: #222222;
            font-weight: bold;
            font-size: 16px;
        }
    /*미니맵*/
        #mini_map {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 15px;
            overflow: hidden;
            background-color: #d2c2b2;
        }
        #mini_map > h2 {
            margin-top: 15px;
        }
        #mini_map > ul {
            display: flex;
            justify-content: space-between;
        }
        #mini_map span {
            color: #766d64;
        }
        iframe {
            margin-bottom: 15px;
            width: 100%;
            height: 60%;
        }
/*page_2*/
    .last_page > div {
        height: 300px;
    }
    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1290px;
        height: calc(100% - var(--subHeader-height-desktop));
        margin: 0 auto;
        padding: 0 15px;
        background-color: #fff;
    }
    article > img {
        width: auto;
        height: 100%;
    }
   
/*슬라이드 토글 서브페이지용 색 변경*/
    @media (max-width: 767px) {
        /*page_1*/
            #top_menu {
                background-color: #d2c2b2;
                
            }
            #top_menu > li {
                border-bottom: 1px solid #766d64;
            }
            .text_banner_container {
                display: none;
            }
    }





@media (min-width: 1024px) {
    /*page_1*/
        /*미니맵*/
            #mini_map {
                width: 301px;
                height: 301px;
            }
            #mini_map > ul {
                width: 100%;
            }  
    /*page_2*/
        
}
    
@media (max-width: 1023px) and (min-width: 768px) {
    /*page_1*/   
        #mini_map {
            width: 301px;
            height: 301px;
        }
        #mini_map > ul {
            width: 100%;
        }  
    /*page_2*/
}   

@media (max-width: 767px) and (min-height: 661px) {
    /*page_1*/
        /*미니맵*/
            #mini_map {
                width: 100%;
                height: 80%;
            }
            #mini_map > ul {
                width: 100%;
            }  
            #mini_map > ul > li {
                font-size: 0.8rem;
            }
    /*page_2*/
}
    
@media (min-width: 1024px) and (max-height: 660px) {
    /*page_1*/
        .text_banner_container {
            display: none;
        }
        /*미니맵*/
            #mini_map {
                width: 100%;
                height: 80%;
            }
}
    
@media (min-width: 768px) and (max-width: 1023px) and (max-height: 660px) {
    /*page_1*/
        .text_banner_container {
            display: none;
        }
        /*미니맵*/
            #mini_map {
                width: 100%;
                height: 80%;
            }
}
    
@media (max-width: 767px) and (max-height: 660px) {
    /*page_1*/
        /*미니맵*/
            #mini_map {
                width: 100%;
                height: 100%;
                max-height: 301px;
            }
}