@charset "utf-8";

.HomeCover_Video_playing {
    opacity: 1;
}
.HomeCover_Video {
    transition: opacity .3s;
    will-change: opacity;
}
.HomeCover_video {
    z-index: 0;
}
video {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.HomeCover {
    position: relative;
    z-index: 0;
    display: flex;
    background-color: #000;
    color: #fff;
}
.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}